{
    "env": {
        "browser": true,
        "es6": true,
        "node": true,
        "mocha": true
    },
    "extends": "airbnb",
    "parser": "babel-eslint",
    "rules": {
        "complexity": [ 1, 5 ],
        "indent": [ 2, 4 ],
        "space-in-parens": [ 2, "always" ],
        "template-curly-spacing": [ 2, "always" ],
        "array-bracket-spacing": [ 2, "always" ],
        "object-curly-spacing": [ 2, "always" ],
        "computed-property-spacing": [ 2, "always" ],
        "quotes": [ 2, "double", "avoid-escape" ],
        "eol-last": 0,
        "lines-around-comment": [ 2, { "beforeLineComment": false } ],
        "no-multiple-empty-lines": [ 2, { "max": 1 } ],
        "prefer-const": 1,
        "no-use-before-define": [ 2, { "functions": false } ],
        "react/prefer-es6-class": 0,
        "react/jsx-curly-spacing": [ 2, "always" ],
        "react/jsx-filename-extension": 0,
        "react/jsx-indent": [ 2, 4 ]
    }
}
